.form {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 20px;
  margin-bottom: 30px;
}

.form-row {
  margin-bottom: 15px;
}

.form-btn {
  background-color: #34D399;
  color: #fff;
}


@media only screen and (min-width: 576px) {
  .form {
    max-width: 576px;
    margin: 0 auto 45px;
  }
}

@media (hover: hover) {
  .form-btn:hover {
    background-color: transparent;
    border-color: #ddd;
    color: #374151;
  }
}