.Input,
.Textarea {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  transition: border-color 0.3s ease;
  font-family: inherit;
  font-size: 1rem;
  outline: transparent;
}

.Input:focus,
.Textarea:focus {
  border-color: #34D399;
}