.Spinner {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  border-width: 6px;
  border-top-color: #444;
  border-left-color: #444;
  animation: spinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
