.App {
  padding: 20px 0;
}

.title {
  margin-bottom: 30px;
  font-size: 1.75rem;
}

.form {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 20px;
}

.form-row {
  margin-bottom: 10px;
}

.form-label {
  display: inline-block;
  margin-bottom: 8px;
}

.form-input,
.form-textarea {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  transition: border-color 0.3s ease;
  font-family: inherit;
  font-size: 1rem;
  outline: transparent;
}

.form-textarea {
  resize: none;
  height: 70px;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #34D399;
}

.button {
  display: inline-block;
  appearance: none;
  transition: background-color 0.3s ease, box-shadow 0.4s ease, border-color 0.4s ease, color 0.4s ease, transform 0.3s ease;
  outline: transparent;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: #34D399;
  cursor: pointer;
  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: 1;
}

.button:focus {
  border-color: #fff;
  box-shadow: 0 0 0 2px #2563EB;
}

.button:active {
  box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1), 0 0 0 2px #2563EB;
}

.form-btn {
  margin: 5px 0;
  color: #fff;
}

@media only screen and (min-width: 576px) {
  .title {
    font-size: 2rem;
    text-align: center;
  }

  .form {
    max-width: 576px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    padding: 10px 20px;
  }
}

@media (hover: hover) {
  .button:hover {
    background-color: transparent;
    border-color: #ddd;
    color: #374151;
  }
}