.App {
  padding: 20px 0;
  background-color: #fff;
}

.title {
  margin-bottom: 30px;
  font-size: 1.75rem;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.3rem;
}

.Button.load-btn {
  display: none;
  margin: 0 auto;
  border-color: #ddd;
}

.Button.visible {
  display: block;
}

@media (hover: hover) {
  .Button.load-btn:hover {
    background-color: #34D399;
    color: #fff;
  }
}

@media only screen and (min-width: 576px) {

  .title,
  .subtitle {
    text-align: center;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.75em;
  }

  .error {
    font-size: 1.5rem;
  }
}