.Pagination-item:not(:last-child) {
  margin-right: 5px;
}

.Pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.Pagination-btn:hover {
  background-color: rgba(52, 211, 153, 0.6);
}

.Pagination-btn.active {
  border-color: #34D399;
  background-color: #34D399;
  color: #fff;
}