.Pagination-item:not(:last-child) {
  margin-right: 5px;
}

.Pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
}

.Pagination-btn.active {
  border-color: #34D399;
  background-color: #34D399;
  color: #fff;
}